{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}


<div class="container">
    <div class="intro">
        <h1>Welcome to my e-Portfolio</h1>
        <p><strong>Name :</strong> {{ first_name }} <br>
        <strong>First Name :</strong> {{ name }} <br>
        <strong>Groupe TP :</strong> {{ groupe_tp }}</p>
        <p>I am passionate about new technologies, coding, and web development. I also have a strong interest in cybersecurity, constantly seeking to learn more about protecting data and computer systems.</p>
    </div>

    <div class ="redirection">
        <h2>To learn more</h2>
        <p>Discover my passions, hobbies, and projects.</p>
        <a href="/plus" class="btn btn-outline-primary">Learn more</a>
    </div>
</div>
{% endblock %}
