{% extends 'base.html.twig' %}

{% block title %}Hello TomController!{% endblock %}

{% block body %}


<div class="container">
    <div class="intro">
        <h1>Bienvenue sur mon e-Portfolio</h1>
        <p><strong>Nom :</strong> {{ first_name }} <br>
        <strong>Prénom :</strong> {{ name }} <br>
        <strong>Groupe TP :</strong> {{ groupe_tp }}</p>
        <p>Je suis passionné par les nouvelles technologies, la création de code et le développement de sites internet. J'ai également un fort intérêt pour la cybersécurité, cherchant constamment à en apprendre davantage sur la protection des données et des systèmes informatiques..</p>
    </div>

    <div class ="redirection">
        <h2>Pour en savoir plus</h2>
        <p>Découvrez mes passions, loisirs, et projets.</p>
        <a href="/plus" class="btn btn-outline-primary">En savoir plus</a>
    </div>
</div>
{% endblock %}
