{% extends 'base.html.twig' %}

{% block title %}Hello TomController!{% endblock %}

{% block body %}

<div class="container">
    <div class="container_image_g d-flex align-items-center mb-4">
        <img src="/Images/new_technologie.jpg" alt="Image 1" class="me-3" style="width: 200%; height: auto;">
        <p>
            I am passionate about new technologies, particularly cybersecurity, a field that fascinates me with its constant challenges and growing importance. Beyond the digital world, I have a strong interest in motorsport, captivated by the speed and precision it demands. I also love traveling, discovering new horizons, and immersing myself in different cultures.
        </p>
    </div>
    <div class="container_image_d d-flex align-items-center">
        <p class="me-3">
            When it comes to physical activities, I am deeply invested in sports. I dedicate a lot of time to weight training, which helps me maintain good physical condition and push my limits. Additionally, I regularly participate in badminton and ice hockey through SUAP, sports that allow me to combine physical effort with the enjoyment of team play.
        </p>
        <img src="/Images/sport.jpg" alt="Image 2" style="width: 200%; height: auto;">
    </div>
</div>

{% endblock %}
